
<a href="/dashboard" class="go-back">Back to dashboard</a>

{{> blogPostInfo blog}}

{{#if logged_in}}
<form class="comment-form">
    <div>
        <textarea id="comment-body" name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}
 <h2>
    Comments: 
 </h2>
{{> comments blog.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}